/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Remove margins and padding from the list */
html {
  background: linear-gradient(to right, #003366 0%, #66ccff 100%);
}
.mainSection {
  background-color: white;
  margin-left: 25%;
  margin-right: 25%;
  box-shadow: 5px 5px 5px 5px #8888;
  height: 100vh;
}
.formClass {
  margin-bottom: 15px;
}
#inputName {
  margin-top: 25px;
  margin-left: 15px;
}
hr {
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
}
#searchBar {
  margin-bottom: 20px;
  margin-left: 15px;
}
input {
  margin: 0;
  border: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 7px;
  font-size: 16px;
  padding: 7px;
}
select {
  border: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 7px;
  font-size: 16px;
  padding: 7px;
}
select option {
  background-color: grey;
  color: white;
  outline: none;
}

button {
  border: 1px;
  border-style: solid;
  background-color: blue;
  color: white;
  font-weight: bolder;
  border-radius: 7px;
  font-size: 16px;
  padding: 7px;
  margin-left: 15px;
  cursor: pointer;
}
ul {
  margin-left: 15px;
  margin-right: 15px;
  list-style-type: none;
}
ul li {
  cursor: pointer;
  border: 1px;
  border-radius: 7px;
  padding: 10px;
  box-shadow: 5px 5px 5px #8888;
  font-size: 20px;
  transition: 0.2s;
  margin-bottom: 10px;
  padding: 7px 7px;
}
.userIcon {
  width: 4%;
  height: auto;
  border: 1px solid;
  border-radius: 180px;
}
.newText {
  margin-right: 10px;
  font-size: xx-large;
}
.close {
  border: 1px solid red;
  color: white;
  border-radius: 70%;
  text-align: center;
  padding: 1px 8px;
  font: 30px Arial, sans-serif;
  font-weight: bolder;
  background-color: red;
  position: absolute;
  left: 70%;
}
.selectCss {
  font-size: 3px;
  text-decoration: solid;
}
